@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';
*{
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}
li{
  list-style: none;
}
label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

aside {
  background: #eef1f6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}
.page-content{
  background: #fff;
}
//main-container全局样式
.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

.page-content{
  padding: 20px;
}

.el-dialog{
  width: 70%;
}
.el-pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.filter-div{
  display: flex;
  flex-wrap: wrap;
  .input-group{
    padding: 15px 10px 0 0;
    display: flex;
    align-items: center;
    label {
      margin-right: 10px;
      white-space: nowrap;
      font-weight: normal;
    }
  }
  .search-input{
    margin-top: 15px;
    width: 100%;
    max-width: 940px;
    display: flex;
    .el-button{
      margin-left: 10px;
    }
  }
}
.screenshot{
  max-width: 100px;
  max-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  img{
    width: 100%;
  }
}
.boss-table{
  border-collapse: collapse;
  font-size: 14px;
  th, td {
    padding: 10px 8px;
    border: 1px solid #dcdfe6;
  }
}
.box-img-center {
  max-width: 100%;
  overflow: hidden;
  position: relative;
}
.box-img-center img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: 0;
  transform: translate(-50%, -50%);
  height: auto;
}
.el-table th {
  background-color: #f5f7fa !important;
}
.tags-view-container{
  height: 40px !important;
  .el-scrollbar__wrap{
    height: 54px !important;
  }
  .tags-view-item{
      height: 32px !important;
      line-height: 32px !important;
  }
}


// 代练内容表格
.power-level-table {
  width: 100%;
  margin-top: 2px;
}

// 余额提示框
.account {
  margin-bottom: 15px;
}

.my-input-group{
  display: flex;
  flex-wrap: wrap;
  & > div{
    min-width: 200px;
    flex: 1;
    margin-left: 10px;
    .el-input-number{
      width: 100%;
    }
  }
  & > div:first-child{
    margin-left: 0;
  }
}

.my-icon-group{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .my-icon{
    font-size: 20px;
    color: $light-blue;
    margin-right: 10px;
  }
}

.my-dialog{
  /deep/ .el-dialog{
    max-width: 750px;
  }
}

#search-form{
  .group {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .seasrch-item{
      /deep/.el-form-item__content{
        margin-left: 20px !important;
      }
    }
  }
}

#search-form2{
  .group {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /deep/.el-form-item{
      margin-right: 20px;
    }
  }
}
.my-card {
  /deep/.el-card__body{
    padding: 20px 0 !important;
  }
  /deep/.el-tabs__item {
    padding: 0 15px !important;
  }
}
.my-btn-icon{
  padding: 9px 10px;
  font-size: 15px;
}

.icons-operate{
  display: flex;
  a {
    margin: 0 2px;
    font-size: 24px;
    color: #abb4c3;
  }
}

img{
  max-width: 100%;
}


#search-form2{ 
  .group {
    display: flex;
    flex-wrap: wrap;
    & > .el-form-item {
      margin-right: 20px;
    }
    .group-item{
      display: flex;
      align-items: center;
      margin-right: 20px;
       /deep/.el-form-item{
        margin-right: 0 !important;
      }
      .line{
        margin: 0 5px 20px 5px;
        width: 10px;
        height: 1px;
        background: #DCDFE6;
      }
    }
  } 
}
.pic-div{
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    width: 100%;
  }
}
.label-div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  p {
    padding: 0 2px;
    margin: 2px 0;
    background: #fbf1cc;
  }
}
.operate{
  padding: 0;
  margin: 0 20px 10px 15px;
  display: flex;
  flex-wrap: wrap;
  li {
    list-style: none;
    margin: 10px 5px;
  }
}
.icons-operate{
  p{
    font-size:14px;
    color:#108EE9;
    margin-right: 10px;
  }
}
.el-dialog{
  .tips{
    padding: 0;
  margin: 0;
  text-align: center;
  font-size: 16px;
  }
}